@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geologica);
}

@layer base {
  html, body {
    @apply h-full min-h-full;
  }

  html {
    font-size: 18px;
  }

  body {
    @apply bg-zinc-100;
  }

  .gradient-border {
    background: linear-gradient(45deg, #b91c1c, #ea580c, #db2777, #e11d48, #dc2626, #b91c1c);
    background-size: 400% 400%;
    animation: gradient-shift 2s linear infinite;
  }

  @keyframes gradient-shift {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .addition-shadow {
    box-shadow: inset 0 52px 42px -48px var(--color-zinc-200);
  }

  @media screen and (min-width: 64rem) {
    .addition-shadow {
      box-shadow: inset 52px 0 42px -48px var(--color-zinc-200);
    }
  }
}

@layer components {
  .icon,
  .icon-x,
  .icon-y {
    @apply select-none fill-current inline-block text-inherit box-content;
    vertical-align: -0.125em;
  }

  .icon,
  .icon-x {
    @apply w-[1em];
  }

  .icon,
  .icon-y {
    @apply h-[1em];
  }
}